.app__promo {
  justify-content: center;
  background-color: var(--Ate-Primary-2, #4d6c4e);
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  color: var(--Ate-Secondary-1, #ffd7cd);
  margin-top: 30px;
}
.app__promo__title {
  align-self: center;
  margin-bottom: 30px;
}
.app__promo__content {
  width: 100%;
  display: flex;
  align-items: center;
}
.app__promo__subtitle {
  text-align: center;
  align-self: center;
}
.app__promo__text {
  text-align: center;
  letter-spacing: -0.32px;
  margin-top: 35px;
}
.app__promo__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  width: 36vw;
}
.app__promo__img {
  border: 4px solid white;
  width: 100%;
}
.app__promo__column {
  display: flex;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  padding: 0 60px;
  margin: 30px 0;
  width: 33vw;
}
.app__promo__catalog-button {
  letter-spacing: -0.48px;
  text-decoration-line: underline;
  align-self: center;
  margin-top: 40px;
  font: 300 24px Mulish, sans-serif;

  &:hover {
    color: #ffd7cd85;
    cursor: pointer;
  }
}
@media screen and (max-width: 1150px) {
  .app__promo__column{
    padding: 0 60px;
  }
}
@media screen and (max-width: 900px) {
  .app__promo__content{
    flex-direction: column;
  }
  .app__promo__title {
    margin-bottom: 30px;
  }
  .app__promo__column, 
  .app__promo__img-box {
    padding: 0 60px;
    width: 80vw;
  }
}

@media screen and (max-width: 650px) {
  .app__promo__column, 
  .app__promo__img-box {
    padding: 0 60px;
    width: 90vw;
  }
}