.app__about {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  margin-top: 80px;
}

.app__about__img-column {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.app__about__img {
  object-fit: cover;
  object-position: center;
  height: 515px;
  width: 100%;
}

.app__about__info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 20px;
}

.app__about__title {
  text-align: center;
  align-self: center;
}

.app__about__text {
  text-align: center;
  letter-spacing: -0.32px;
  margin-top: 35px;
}

.app__about__button {
  text-align: center;
  letter-spacing: -0.48px;
  text-decoration-line: underline;
  align-self: center;
  margin-top: 40px;
  font: 300 24px Mulish, sans-serif;

  &:hover {
    color: grey;
    cursor: pointer;
  }
}

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 900px) {
  .app__about__img-column {
    width: 50%;
  }

  .app__about__info-column {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .app__about__img-column {
    width: 40%;
  }

  .app__about__info-column {
    width: 60%;
  }
}