.app__promo__div {
  justify-content: center;
  background-color: #fff;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}
.app__promo__div-2 {
  color: #000;
  text-align: center;
  align-self: center;
  font:normal 40px 'FONTSPRING DEMO - Artis-Sans Extralight', 'Roboto', 'Helvetica', sans-serif;
}
.app__promo__div-3 {
  background-color: var(--Ate-Primary-2, #4d6c4e);
  margin-top: 29px;
  width: 100%;
  padding: 0 80px 39px;
}
@media (max-width: 991px) {
  .app__promo__div-3 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.app__promo__div-4 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .app__promo__div-4 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.app__promo__column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .app__promo__column {
    width: 100%;
  }
}
.app__promo__div-5 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--Ate-Secondary-1, #ffd7cd);
  margin: auto 0;
}
@media (max-width: 991px) {
  .app__promo__div-5 {
    margin-top: 40px;
  }
}
.app__promo__div-6 {
  text-align: center;
  align-self: center;
  font: 200 50px 'FONTSPRING DEMO - Artis-Sans Extralight', 'Roboto', 'Helvetica', sans-serif;
}
@media (max-width: 991px) {
  .app__promo__div-6 {
    font-size: 40px;
  }
}
.app__promo__div-7 {
  text-align: center;
  letter-spacing: -0.32px;
  margin-top: 35px;
  font: 400 16px Mulish, sans-serif;
}
.app__promo__column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 49%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .app__promo__column-2 {
    width: 100%;
  }
}
.app__promo__div-8 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 18px;
  color: var(--Ate-Secondary-1, #ffd7cd);
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}
@media (max-width: 991px) {
  .app__promo__div-8 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}
.app__promo__img {
  aspect-ratio: 0.88;
  object-fit: auto;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .app__promo__img {
    max-width: 100%;
  }
}
.app__promo__div-9 {
  font-family: SierraW04-Regular, -apple-system, Roboto, Helvetica,
    sans-serif;
  border-color: rgba(255, 215, 205, 1);
  border-style: solid;
  border-width: 1px;
  align-self: center;
  justify-content: center;
  padding: 13px 32px;
}
@media (max-width: 991px) {
  .app__promo__div-9 {
    white-space: initial;
    padding: 0 20px;
  }
}
.app__promo__column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .app__promo__column-3 {
    width: 100%;
  }
}
.app__promo__div-10 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--Ate-Secondary-1, #ffd7cd);
  text-align: center;
  margin: auto 0;
}
@media (max-width: 991px) {
  .app__promo__div-10 {
    margin-top: 40px;
  }
}
.app__promo__div-11 {
  letter-spacing: -0.32px;
  font: 400 16px Mulish, sans-serif;
}
.app__promo__div-12 {
  letter-spacing: -0.48px;
  text-decoration-line: underline;
  align-self: center;
  margin-top: 40px;
  font: 300 24px Mulish, sans-serif;
}
