.app__about__div {
  justify-content: center;
  background-color: #fff;
  padding: 80px 0;
}

.app__about__div-2 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .app__about__div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.app__about__column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 71%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .app__about__column {
    width: 100%;
  }
}

.app__about__img {
  aspect-ratio: 1.79;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .app__about__img {
    max-width: 100%;
    margin-top: 40px;
  }
}

.app__about__column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 29%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .app__about__column-2 {
    width: 100%;
  }
}

.app__about__div-3 {
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: #000;
  width: 100%;
  padding: 80px 62px;
}

@media (max-width: 991px) {
  .app__about__div-3 {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.app__about__div-4 {
  margin-top: 64px;
  text-align: center;
  align-self: center;
  font: 200 50px 'FONTSPRING DEMO - Artis-Sans Extralight', 'Roboto', 'Helvetica', sans-serif;
}

@media (max-width: 991px) {
  .app__about__div-4 {
    margin-top: 40px;
    font-size: 40px;
  }
}

.app__about__div-5 {
  text-align: center;
  letter-spacing: -0.32px;
  margin-top: 35px;
  font: 400 16px Mulish, sans-serif;
}

.app__about__div-6 {
  text-align: center;
  letter-spacing: -0.48px;
  text-decoration-line: underline;
  align-self: center;
  margin-top: 40px;
  font: 300 24px Mulish, sans-serif;
}
