.about-container {
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
  }
  .about-handmade-jewelry {
    justify-content: center;
    color: #000;
    text-align: center;
    font: 200 40px FONTSPRING DEMO - Artis-Sans Extralight, -apple-system,
      Roboto, Helvetica, sans-serif;
  }
  .about-green-container {
    background-color: var(--Ate-Primary-2, #4d6c4e);
    align-self: stretch;
    margin-top: 29px;
    width: 100%;
    padding: 0 39px;
  }
  @media (max-width: 991px) {
    .about-green-container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-4-about {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-4-about {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .about-left-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .about-left-column {
      width: 100%;
    }
  }
  .about-left-info {
    justify-content: center;
    align-items: center;
    background-color: var(--Ate-Primary-2, #4d6c4e);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 42px;
  }
  @media (max-width: 991px) {
    .about-left-info {
      padding: 0 20px;
    }
  }
  .about-left-title {
    color: var(--Ate-Secondary-1, #ffd7cd);
    margin-top: 154px;
    white-space: nowrap;
    font: 200 50px FONTSPRING DEMO - Artis-Sans Extralight, -apple-system,
      Roboto, Helvetica, sans-serif;
  }
  @media (max-width: 991px) {
    .about-left-title {
      font-size: 40px;
      margin-top: 40px;
      white-space: initial;
    }
  }
  .left-text-about {
    justify-content: center;
    color: var(--Ate-Secondary-1, #ffd7cd);
    text-align: center;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: 21px 0 119px;
    font: 400 16px Mulish, sans-serif;
  }
  @media (max-width: 991px) {
    .left-text-about {
      margin-bottom: 40px;
    }
  }
  .center-column-about {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .center-column-about {
      width: 100%;
    }
  }
  .div-8-about {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-8-about {
      max-width: 100%;
    }
  }
  .img-hand {
    aspect-ratio: 1.02;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .img-hand {
      max-width: 100%;
    }
  }
  .button-comprar-about {
    justify-content: center;
    color: var(--Ate-Secondary-1, #ffd7cd);
    text-align: center;
    border: 1px solid var(--Ate-Secondary-1, #ffd7cd);
    align-self: center;
    padding: 13px 32px;
    font: 400 18px SierraW04-Regular, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .button-comprar-about {
      padding: 0 20px;
    }
  }
  .right-column-about {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .right-column-about {
      width: 100%;
    }
  }
  .div-10-about {
    justify-content: center;
    background-color: var(--Ate-Primary-2, #4d6c4e);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 50px 42px;
  }
  @media (max-width: 991px) {
    .div-10-about {
      padding: 0 20px;
    }
  }
  .div-11-about {
    justify-content: center;
    color: var(--Ate-Secondary-1, #ffd7cd);
    text-align: center;
    letter-spacing: -0.32px;
    margin-top: 178px;
    font: 400 16px Mulish, sans-serif;
  }
  @media (max-width: 991px) {
    .div-11-about {
      margin-top: 40px;
    }
  }
  .div-12-about {
    color: var(--Ate-Secondary-1, #ffd7cd);
    text-align: center;
    letter-spacing: -0.48px;
    text-decoration-line: underline;
    align-self: center;
    white-space: nowrap;
    margin: 21px 0 132px;
    font: 300 24px Mulish, sans-serif;
  }
  @media (max-width: 991px) {
    .div-12-about {
      margin-bottom: 40px;
      white-space: initial;
    }
  }