.app__product__card {
    display: flex;
    margin: 0rem 0.5rem 1rem 0.5rem;
    flex-wrap: wrap-reverse;
}
.app__product__img{
    display: flex;
    width: 390px;
    height: 390px;
    object-fit: cover;
    justify-content: center;
}
.app__product__button {
    display: flex;
    position: absolute;
    align-items:center;
    justify-content: center; 
    background-color: #000;
    color: #fff;
    margin: 20px;
    width: 138px;
    height: 42px;
    border: none;
    font: 400 18px SierraW04-Regular, -apple-system, Roboto, Helvetica, sans-serif;
    &:hover{
        color: #000;
        background-color: white;
        border: 1.5px solid black;
        cursor: pointer;
    }
}
@media screen and (max-width: 1150px) {
    .app__promo__column{
      padding: 0 60px;
    }
  }
  @media screen and (max-width: 900px) {
    .app__product__img{
        width: 40vw;
        height: 40vw;
    }
    .app__product__button {
        padding-bottom: 1vh;
        align-items:end;
        margin: 0px;
        width: 40vw;
        height: 40vw;
        background: none;
        &:hover{
            color: #fff;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
  }
  
  @media screen and (max-width: 650px) {

  }