.app__navbar__div {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 43px;
  color: #000;
  font-weight: 200;
  white-space: nowrap;
  text-align: center;
  padding: 0 30px 10px;
}
@media (max-width: 991px) {
  .app__navbar__div {
    flex-wrap: wrap;
    white-space: initial;
    padding: 0 20px;
  }
}
.app__navbar__img {
  aspect-ratio: 1.37;
  object-fit: auto;
  object-position: center;
  width: 30px;
  align-self: stretch;
  margin: auto 0;
}
.app__navbar__div-2 {
  font: 200 50px 'FONTSPRING DEMO - Artis-Sans Extralight', 'Roboto', 'Helvetica', sans-serif;
  font-size: 50px;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: auto;
}
.app__navbar__img-2 {
  object-fit: auto;
  object-position: center;
  width: 21px;
  fill: #000;
  align-self: stretch;
  margin: auto 0;
}
