.app__header__div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 675px;
  align-items: start;
  color: #000;
  font-weight: 400;
  padding: 80px 80px 80px 30px;
}
@media (max-width: 991px) {
  .app__header__div {
    padding: 0 20px;
  }
}
.app__header__img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.app__header__div-2 {
  position: relative;
  margin-top: 306px;
  font: 200 50px 'FONTSPRING DEMO - Artis-Sans Extralight', 'Roboto', 'Helvetica', sans-serif;
}
@media (max-width: 991px) {
  .app__header__div-2 {
    margin-top: 40px;
    font-size: 40px;
  }
}
.app__header__div-3 {
  position: relative;
  text-align: center;
  letter-spacing: -0.32px;
  margin: 11px 0 0 22px;
  font: 16px Mulish, sans-serif;
}
@media (max-width: 991px) {
  .app__header__div-3 {
    margin-left: 10px;
  }
}
.app__header__div-4 {
  position: relative;
  justify-content: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  text-align: center;
  margin: 49px 0 0 37px;
  padding: 14px 27px;
  font: 18px SierraW04-Regular, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .app__header__div-4 {
    white-space: initial;
    margin: 40px 0 0 10px;
    padding: 0 20px;
  }
}
