.padding-footer {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
  @media (max-width: 991px) {
    .padding-footer {
      padding: 0 20px;
    }
  }
  .elements-footer {
    width: 699px;
    max-width: 100%;
  }
  .gap-elements-footer {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .gap-elements-footer {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .left-column-footer {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 65%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .left-column-footer {
      width: 100%;
    }
  }
  .img-logo-footer {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-logo-footer {
      margin-top: 40px;
    }
  }
  .right-column-footer {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .right-column-footer {
      width: 100%;
    }
  }
  .text-footer {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .text-footer {
      margin-top: 40px;
    }
  }
  .contactanos-footer {
    color: #000;
    font: 400 32px SierraW04-Regular, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-6 {
    color: #000;
    letter-spacing: -0.48px;
    margin-top: 51px;
    font: 400 24px SierraW04-Regular, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .whatsapp-footer {
      margin-top: 40px;
    }
  }
  .number-footer {
    color: #000;
    margin-top: 7px;
    font: 200 20px Mulish, sans-serif;
  }
  .instagram-text-footer {
    color: #000;
    letter-spacing: -0.48px;
    margin-top: 36px;
    font: 400 24px SierraW04-Regular, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .insta-footer {
    color: #000;
    margin-top: 6px;
    font: 200 20px Mulish, sans-serif;
  } 