    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }

    a {
        color: unset;
        text-decoration: none;
    }

    .p__font {
        font: 16px Mulish, sans-serif;
    }

    .h__font {
        font: 200 40px  SierraW04-Regular ,serif;
    }

    /* .h__font {
        font: 200 40px serif;
    } */

    @-webkit-keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @media screen and (min-width: 2000px) {
        .p__font {
            font-size: 30px;
            line-height: 50px;
        }
    }

    @media screen and (max-width: 1150px) {
        .h__font {
            font-size: 36px;
        }
    }

    @media screen and (max-width: 850px) {}

    @media screen and (max-width: 650px) {
        .p__font {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 450px) {
        .p__font {
            font-size: 12px;
        }
    }
