.app__header__div {
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 675px;
  align-items: start;
}


.app__header__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.app__header__words {
  display: flex;
  position: relative;  
  flex-direction: column;
  align-items:center;
  justify-content: center;  
  margin-left: 80px;
}

.app__header__title {
  position: relative;
  margin-top: 330px;
  font: 200 50px 'FONTSPRING DEMO - Artis-Sans Extralight', 'Roboto', 'Helvetica', sans-serif;
  font-size: 50px;
}

.app__header__motto {
  position: relative;
  letter-spacing: -0.32px;
  margin: 30px 0 0 0;
  font: 16px Mulish, sans-serif;
}

.app__header__button {
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  text-align: center;
  margin: 40px 0 0 0px;
  width: 138px;
  height: 42px;
  font: 18px SierraW04-Regular, -apple-system, Roboto, Helvetica, sans-serif;
  &:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }
}